*.db
*.log
*.py[cod]
.dockerignore
.env
.ipynb_checkpoints
.test-files
.venv/
.vscode
.web
Dockerfile.production
__pycache__/
alembic
assets/external/
compose.prod.yaml
download_cache
uploaded_files
测试文件
